<ion-header >
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
          <ion-segment value="buttons" [color]="darkmode ? 'dark' : 'primary'"  swipeGesture="false" mode="md">
            <ion-segment-button value="buttons" (click)="setView(CalendarView.Month)">
              <ion-label>Month</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Week" (click)="setView(CalendarView.Week)">
              <ion-label>Week</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Day" (click)="setView(CalendarView.Day)">
              <ion-label>Day</ion-label>
            </ion-segment-button>
          </ion-segment>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-chip [color]="darkmode ? 'dark' : 'primary'"><h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3></ion-chip>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-align-items-center"> 
          <ion-button fill="outline" size="small" [color]="darkmode ? 'dark' : 'primary'" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            <ion-icon size="medium" name="chevron-back-outline" ></ion-icon>
          </ion-button>
          <ion-text [color]="darkmode ? 'dark' : 'primary'" class="ion-padding-horizontal" mwlCalendarToday [(viewDate)]="viewDate">Today</ion-text>
          <ion-button fill="outline" size="small" [color]="darkmode ? 'dark' : 'primary'" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            <ion-icon name="chevron-fordward-outline" ></ion-icon>
          </ion-button>
      </ion-row>
    </ion-grid>
      
  <div [ngSwitch]="view" class="calendar-container">
     <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [weekStartsOn]="1"
      [headerTemplate]="customHeader"
      [tooltipTemplate]="customToolTip"
    > 
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [weekStartsOn]="1"
      [tooltipTemplate]="customToolTip"
    >
    </mwl-calendar-week-view>

    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [tooltipTemplate]="customToolTip"
    >
    </mwl-calendar-day-view>
  </div>
</ion-content >

<ng-template #customHeader>
  <tr >
    <th *ngFor="let day of days;"><ion-text [color]="day === 'S' ? 'danger' : 'medium'">{{ day }}</ion-text></th>
  </tr>
</ng-template>
<ng-template #customToolTip>
</ng-template>

