ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
  .task-done{
    text-decoration: line-through;
    color: #5f5f5f;
  }
.month-date{
  font-weight: bold;
}

.week-day{
  text-transform: uppercase;

}
.of{
  font-size: x-small;
}
.task-container {
  border-radius: 5px;
  border:1px solid #0054e9;
}
.taskPast-container{
  border-radius: 5px;
  border:1px solid #cb1a27;
}
