<ion-accordion-group expand="inset">
  @for (task of taskList; track $index) {
  <ion-accordion>
    <ion-item slot="header" color="light">
    
      <ion-label>{{task.name}}</ion-label>
      <ion-label>{{ task.priority }}</ion-label>
    
      <ion-label>{{ task.tag }}</ion-label>
      <ion-button (click)="deleteTask(task.id)">delete</ion-button>
    </ion-item>
    <div class="ion-padding" slot="content">
      <p>{{ task.description }}</p>
    </div>
  </ion-accordion>
  }
</ion-accordion-group>


<p *ngIf="taskList.length === 0">No tasks saved yet.</p>