// .task-name{
//     color:#3376ED;
//     font-size: 15px;
// }
// ion-card{
//     width: 100%;
// }
.data{
    font-weight: 100;
    font-size: 10px;
}
.week-day{
    text-transform: uppercase;
}
ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
  }
