     @if (task.description !== '') {
      <ion-item>{{task.description}}</ion-item>
    }@else {
      <ion-item ><ion-text color="medium">No description</ion-text>
        </ion-item>
    }
    
    <ion-item>
      <ion-label color="primary">Date creation</ion-label>
      <div class="date">
        <span>{{ task.creation_date | date:' E'}} </span> , <span>{{ task.creation_date | date:'d'}}</span> of <span>{{task.creation_date |
          date:"LLL"}} </span> of <span> {{ task.creation_date | date:'YYYY' }}</span>
      </div>

    </ion-item>

      @if (task.due_date !== '') {
        <ion-item>
          <ion-label color="primary">Date end</ion-label>
          <div class="date">
            <span>{{ task.due_date | date:' E'}} </span> , <span>{{ task.due_date | date:'d'}}</span> of <span>{{task.due_date |
              date:"LLL"}} </span> of <span> {{ task.due_date | date:'YYYY' }}</span>
          </div>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Time end</ion-label>
          <span>{{ task.due_date | date: 'HH:mm'}}</span>
        </ion-item>
        
      }@else {
        <ion-item >
          <ion-label color="primary">Date end</ion-label>
          <ion-text color="medium">No date has been set</ion-text>
        </ion-item>
      }

    <ion-item>
      <ion-label color="primary">Priority</ion-label>
      <ion-chip [color]="priorityColor(task.priority)">
        <ion-label>{{ task.priority }}</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Tag</ion-label>
      <ion-text [color]="tagIconColor(task.tag)" class="ion-margin-end">{{ task.tag }}</ion-text>
      <ion-icon size="medium" [name]="tagIcon(task.tag)" class="ion-no-margin"
      [color]="tagIconColor(task.tag)"></ion-icon>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="danger" (click)="deleteTask(task.id)">
            <ion-label>Delete</ion-label>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- @if (task.due_date !== '') {
    <ion-item>
      <ion-datetime  disabled="true" [value]="task.due_date"></ion-datetime>
    </ion-item>
    
    } -->
    
  