<ion-header [translucent]="true">
  <ion-toolbar color="ligth" class="ion-text-center">
    <ion-icon size="medium" [color]="paletteToggle ? 'warning' : 'dark'" [name]="paletteToggle ? 'sunny-outline' : 'moon-outline'" (click)="toggleChange()" class="ion-float-left ion-margin-start"></ion-icon>
    <ion-title color="dark" >
      Tasks Manager
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-fab  slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button color="dark" id="open-modal">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" >
    <ng-template>
      <ion-header >
        <ion-toolbar color="dark">
          <ion-title>New task</ion-title>
          <ion-buttons slot="end" >
            <ion-icon size="large" name="close-circle-outline" (click)="closeModal()"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content [fullscreen]="true">
        <app-task-form (taskEmitted)="createTask($event)"></app-task-form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

  <ion-tabs [environmentInjector]="environmentInjector">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="list-circle-outline"></ion-icon>
        <ion-label>Pending</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="completed-tasks">
        <ion-icon name="checkmark-outline"></ion-icon>
        <ion-label>Completed</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>