<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  @if(taskList.length === 0){
  <div class="emptyTasks-container">
    <ion-text>You have no completed tasks</ion-text><br>
    <ion-icon name="checkmark-circle" color="warning"></ion-icon>
  </div>
  }@else {
  <ion-button color="danger" class="ion-margin" (click)="openActionSheet()"> 
    <ion-label position="fixed" >Delete all </ion-label>
    <ion-icon name="trash"></ion-icon>
  </ion-button>
  <app-tasks (taskIdDeleteEmitted)="deleteTask($event)" (taskCompleteEmitted)="completeTask($event)"
    [taskList]="taskList"></app-tasks>
  }
</ion-content>