<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  @if(taskList.length === 0){
  <div class="emptyTasks-container">
    <ion-text>You have no completed tasks</ion-text><br>
    <ion-icon name="checkmark-circle" color="warning"></ion-icon>
  </div>
  }@else {
    <!-- <ion-buttons slot="start"> -->
      <ion-button color="danger" > <ion-label>Delete all</ion-label></ion-button>
     
    <!-- </ion-buttons> -->
    
  <app-tasks (taskIdDeleteEmitted)="deleteTask($event)" (taskCompleteEmitted)="completeTask($event)"
    [taskList]="taskList"></app-tasks>
  }
</ion-content>