<ion-app>

  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title routerLink="/home">
        Tasks
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
  
  <ion-footer [translucent]="true">
    <ion-button routerLink="/home" class="ion-float-left ion-margin">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/completed-tasks" class="ion-float-center ion-margin">completed</ion-button>
    <ion-button class="ion-float-right ion-margin" (click)="isModalOpen()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-button>
  </ion-footer>

</ion-app>
