<ion-segment value="default" color="primary" mode="ios" >
  <ion-segment-button value="default" routerLink="/home">
    <ion-label>Pending</ion-label>
    <ion-icon name="list-circle-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Completed" routerLink="/completed-tasks">
    <ion-label>Completed</ion-label>
    <ion-icon name="checkmark-done-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Due">
    <ion-label>Due</ion-label>
    <ion-icon name="timer-outline"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="Calendar" routerLink="/calendar">
    <ion-label>Calendar</ion-label>
    <ion-icon name="calendar-outline"></ion-icon>
  </ion-segment-button>
</ion-segment>