<div class="ion-page">

  <ion-content [fullscreen]="true">

    
    <ion-modal [isOpen]="modalTrigger" >
      <ng-template>
        <ion-header >
          <ion-toolbar color="primary">
            <ion-title>New task</ion-title>
            <ion-buttons slot="end" >
              <ion-icon size="large" name="close-circle-outline" (click)="closeModal()"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true">
          <app-task-form (taskEmitted)="createTask($event)"></app-task-form>
        </ion-content>
      </ng-template>
    </ion-modal>

    
    <app-tasks (taskIdDeleteEmitted)="deleteTask($event)" (taskIdCompleteEmitted)="completeTask($event)" [taskList]="taskList"></app-tasks>
  </ion-content>
  
</div>