<div class="ion-page">
  <ion-content [fullscreen]="true">
    <div class="ion-text-center">
      <ion-text color="secondary">
        <h2>
          Pending
        </h2>
      </ion-text>
    
    </div>
    
    <ion-modal [isOpen]="modalTrigger" >
      <ng-template>
        <ion-header >
          <ion-toolbar color="primary">
            <ion-title>New task</ion-title>
            <ion-buttons slot="end" >
              <ion-icon size="large" name="close-circle-outline" (click)="closeModal()"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true">
          <app-task-form (taskEmitted)="createTask($event)"></app-task-form>
        </ion-content>
      </ng-template>
    </ion-modal>
    <app-tasks (taskIdDeleteEmitted)="deleteTask($event)" (taskCompleteEmitted)="completeTask($event)" [taskList]="taskList"></app-tasks>
  </ion-content>
  
</div>