/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
 @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import '@ionic/angular/css/palettes/dark.system.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
// C:\Users\Edu\Desktop\TRAINNING\Ionic\tasksApp\node_modules\angular-calendar\scss\angular-calendar.scss
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";

/*GoogleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cal-day-number {
    color: #f8f8f8;
    
    
}
.cal-header{
    font-size: 0.5625em;
}

mwl-calendar-month-view-header tr, td{
    width: 1000px;
    background-color: #00000000;
    height: 10px;
}
mwl-calendar-month-view-header th{
    width: 100px;
    background-color: #00000000;
}

ion-item {
  --transition: none;
}

.dark-theme {
    $bg-dark-primary: #1f262d34;
    $bg-dark-secondary: #394046;
    $bg-active: #2c343a;
    $text-color: #d5d6d7;
    $border-color: rgb(0 0 0 / 60%);

        @include cal-theme((
                bg-primary: $bg-dark-primary,
                bg-secondary: transparent,
                weekend-color: indianred,
                bg-active: transparent,
                border-color: $border-color,
                gray: $bg-dark-secondary,
                today-bg: $bg-active,
                event-color-primary: $bg-dark-secondary,
            ));
    .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
      opacity: 0.15;
    }    
  }